# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# private info
private.el

# elisp config
/config.el

# customizations
custom.el

# and many more
/bookmarks
/backups/
/auto-save-list/
/projectile-bookmarks.eld
/recentf
/helm-doc.org
/url/
/magithub/
session.*
ido.*
/edts/
/irony/
/meghanada/
ac-comphist.dat
.mc-lists.el
/.cache/
*.sqlite